# Ignorer les fichiers de configuration sensibles
config.py

# Ignorer les environnements virtuels
venv/
env/

# Ignorer les fichiers compilés Python
*.pyc
*.pyo
__pycache__/

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers de cache
*.cache
*.sqlite3

# Ignorer les fichiers de déploiement
*.deploy

# Ignorer les fichiers de données sensibles
*.env

# Ignorer les dossiers et fichiers générés par IDEs ou éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorer les dossiers 
Sms/
Email/
